/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #E9E9E9;
  color: #313131;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #E9E9E9;
  padding: 20px 40px;
  color: #313131;
  z-index: 999;
  transition: top 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

header.scrolled {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  max-height: 40px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #6466A1;
  border-radius: 50%;
  display: inline-block;
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-top: 10px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #313131;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

nav ul li a:hover {
  border-bottom: 2px solid;
}

nav ul li a.active {
  border-bottom: 2px solid;
}

/* Main Styles */
main {
  padding: 40px;
  padding-top: 0;
}

.welcome-content {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.8s, transform 0.8s;
  margin-right: 25px;
}

.welcome-content.animate {
  opacity: 1;
  transform: translateX(0);
}

section {
  margin-bottom: 30px;
  width: 100%;
}

section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.name {
  font-size: 24px;
  color: #6466A1;
}

section#welcome {
  padding: 40px;
  padding-top: 120px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#welcome h2 {
  font-size: 30px;
}

section#welcome p {
  margin-bottom: 20px;
}

section#about {
  height: 80vh;
  padding-top: 120px;
}

section#about p a {
  text-decoration: none;
  color: #6466A1;
}

.social-buttons {
  margin-top: 10px;
}

.social-buttons .button {
  background: #313131;
  transition: background 0.3s, transform 0.5s ease;
  background-position: bottom;
  margin-top: 10px;
}

.social-buttons .button:hover {
  background: #6466a1;
  background-position: top;
  transform: translateY(-5px);
}

.home-image {
  width: 50%;
  min-width: 270px;
  position: relative;
  overflow: hidden;
  height: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.8s, transform 0.8s;
}

.home-image.animate {
  opacity: 1;
  transform: translateY(0);
}

.home-image img {
  width: 100%;
  height: auto;
  margin-top: 25%;
}

.home-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#CCCCE4, #6466A1);
  z-index: -1;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Footer Styles */
footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
  overflow: visible;
}

.projects {
  display: flex;
  overflow-x: scroll;
}

.project {
  flex: 1;
  text-align: center;
  margin: 0 10px;
}

.toggle-nav-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.toggle-nav-button span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
  transition: opacity 0.2s, transform 0.3s;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .home-image {
    min-width: 270px;
    margin-top: 20px;
    width: 80%;
  }

  section#welcome {
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0;
    padding-top: 120px;
  }

  .home-image img {
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  .toggle-nav-button {
    display: block;
  }

  nav {
    position: absolute;
    left: -300px;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 30%;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .nav-list li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  nav.show {
    top: 0;
    left: 0px;
    z-index: 999;
    width: 240px;
    height: 100vh;
    position: absolute;
    background-color: #fff;
    transition: left 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }

  .toggle-nav-button.show span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  
  .toggle-nav-button.show span:nth-child(2) {
    opacity: 0;
  }
  
  .toggle-nav-button.show span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-list li a:hover {
    color: #6466A1;
  }
}

nav.show {
  display: block;
}

